@page "{id:int?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeLaSalle.Ecommerce.WebSite.Pages.ProductCategory.Delete

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h2>Delete</h2>
            <div class="alert alert-danger">
                Are you sure to delete this element?
            </div>
            <form action="" method="post">
                <input type="hidden" asp-for="ProductCategoryDto.Id"/>
                <div class="form-group">
                    <label asp-for="ProductCategoryDto.Name"></label>
                    <input asp-for="ProductCategoryDto.Name" class="form-control" maxlength="45" readonly>
                    <span class="text-danger" asp-validation-for="ProductCategoryDto.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCategoryDto.Description"></label>
                    <input asp-for="ProductCategoryDto.Description" class="form-control" maxlength="100" readonly>
                    <span class="text-danger" asp-validation-for="ProductCategoryDto.Description"></span>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-danger mr-3">
                            Delete
                        </button>
                        <a class="btn btn-secondary" a-asp-area="" asp-page="/ProductCategory/List">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>
    
</div>